!!! 5
html
  head
    title Jade Template Syntax Documentation by Example
    link(href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Ubuntu:400,700", rel="stylesheet", try="text/css")
    link(href="assets/global.min.css", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="assets/global.min.js")
    meta(name="description", content="An interative Syntax Documentation for the Jade Templating Engine")
    link(rel="author", href="https://plus.google.com/u/0/113306279128990179378")
  body(data-spy="scroll", data-target=".subnav", data-offset="150")
    a(href="https://github.com/naltatis/jade-syntax-docs")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
    .container
      header.jumbotron.subhead
        h1
          | Jade Syntax Documentation
          small  by example
        p.lead
          | This <strong>interactive</strong> documentation illustrates the most important features of the Jade templating language.<br>
          | You can play around with the examples and watch the html output in real time.<br>
          | For more detailed explanations visit the&nbsp;
          a(href="https://github.com/visionmedia/jade/") official documentation.
        .subnav
          ul.nav.nav-pills
            li: a(href="#basics") Basics
            li: a(href="#id-classes") id, classes
            li: a(href="#nesting") Nesting
            li: a(href="#text") Text
            li: a(href="#variables") Variables
            li: a(href="#escaping") Escaping
            li: a(href="#attributes") Attributes
            li: a(href="#comments") Comments
            li: a(href="#if") if, unless
            li: a(href="#for") for, each
            li: a(href="#case") case
            li: a(href="#mixin") mixin
            li: a(href="#about") about
      section#basics
        .page-header
          h2 Basics
        .row
          .span6
            .jadeLabel
            textarea.size7.jade.
              !!! 5
              html
                head
                  title my jade template
                body
                  h1 Hello \#{name}
            textarea.size1.json.
              {"name": "Bob"}
            .dataLabel
          .span6.right
            .htmlLabel
            textarea.size9.html(readonly=true)
      section#id-classes
        .page-header
          h2 id &amp; classes
        .row
          .span6
            textarea.size5.jade.
              #content
                .block
                  input#bar.foo1.foo2
          .span6.right
            textarea.size5.html(readonly=true)
      section#nesting
        .page-header
          h2 Nesting
        .row
          .span6
            textarea.size5.jade.
              ul#books
                li
                  a(href="#book-a") Book A
                li
                  a(href="#book-b") Book B
          .span6.right
            textarea.size5.html(readonly=true)
        hr
        .row
          .span6
            textarea.size4.jade.
              ul#books
                li: a(href="#book-a") Book A
                li: a(href="#book-b") Book B
          .span6.right
            textarea.size4.html(readonly=true)
      section#text
        .page-header
          h2 Text
        .row
          .span6
            textarea.size3.jade.
              h1 foo
              h2= book.name
              h3 "\#{book.name}" for \#{book.price} &euro;
            textarea.size1.json.
              {"book": {"name": "Hello", "price": 12.99}}
          .span6.right
            textarea.size5.html(readonly=true)
        hr
        .row
          .span6
            textarea.size4.jade.
              p
                | foo bar
                | hello world
          .span6.right
            textarea.size4.html(readonly=true)
        hr
        .row
          .span6
            textarea.size4.jade.
              p.
                foo bar
                hello world
          .span6.right
            textarea.size4.html(readonly=true)

      section#variables
        .page-header
          h2 Variables
        .row
          .span6
            textarea.size2.jade.
              foo = "hello world"
              h1= foo
          .span6.right
            textarea.size2.html(readonly=true)
        hr
        .row
          .span6
            textarea.size2.jade.
              foo = book.name + " world"
              h1= foo
            textarea.size1.json.
              {"book": {"name": "hello"}}
          .span6.right
            textarea.size4.html(readonly=true)
      section#escaping
        .page-header
          h2 Escaping
        .row
          .span6
            textarea.size1.jade.
              li Hello <em>World</em>
          .span6.right
            textarea.size1.html(readonly=true)
        hr
        .row
          .span6
            textarea.size2.jade.
              li= name
              li!= name
            textarea.size1.json.
              {"name": "Hello <em>World</em>"}
          .span6.right
            textarea.size4.html(readonly=true)
        hr
        .row
          .span6
            textarea.size2.jade.
              li Say \#{name}
              li Say &#33;{name}
            textarea.size1.json.
              {"name": "Hello <em>World</em>"}
          .span6.right
            textarea.size4.html(readonly=true)
      section#attributes
        .page-header
          h2 Attributes
        .row
          .span6
            textarea.size1.jade.
              input(type="text", placeholder="your name")
          .span6.right
            textarea.size1.html(readonly=true)
        hr
        .row
          .span6
            textarea.size1.jade.
              input(type=type, value='Hello \#{name}')
            textarea.size1.json.
              {"type": "text", "name": "Bob"}
          .span6.right
            textarea.size3.html(readonly=true)
        hr
        .row
          .span6
            textarea.size1.jade.
              input(checked=true, disabled=false)
          .span6.right
            textarea.size1.html(readonly=true)
      section#comments
        .page-header
          h2 Comments
        .row
          .span6
            textarea.size2.jade.
              // single line comment
              //- invisible single line comment
          .span6.right
            textarea.size2.html(readonly=true)
        hr
        .row
          .span6
            textarea.size4.jade.
              // block comment
                h1 hello world
              //- invisible block comment
                h2 how are you?
          .span6.right
            textarea.size4.html(readonly=true)
        hr
        .row
          .span6
            textarea.size2.jade.
              // if lt IE 8
                script(src='/ie.js')
          .span6.right
            textarea.size2.html(readonly=true)
      section#if
        .page-header
          h2 if &amp; unless
        .row
          .span6
            textarea.size4.jade.
              if name == "Bob"
                h1 Hello Bob
              else
                h1 My name is \#{name}
            textarea.size1.json.
              {"name": "Bob"}
          .span6.right
            textarea.size6.html(readonly=true)
        hr
        .row
          .span6
            textarea.size2.jade.
              unless errors
                p no errors
            textarea.size1.json.
              {"errors": false}
          .span6.right
            textarea.size4.html(readonly=true)
      section#for
        .page-header
          h2 for &amp; each
        .row
          .span6
            textarea.size3.jade.
              select
                each book, i in books
                  option(value=i) Book \#{book}
            textarea.size1.json.
              {"books": ["A", "B", "C"]}
          .span6.right
            textarea.size5.html(readonly=true)
        hr
        .row
          .span6
            textarea.size5.jade.
              ul
                for book in books
                  li= book
                else
                  li sorry, no books!
            textarea.size1.json.
              {"books": []}
          .span6.right
            textarea.size7.html(readonly=true)
      section#case
        .page-header
          h2 case
        .row
          .span6
            textarea.size7.jade.
              case name
                when "Bob"
                  p Hi Bob!
                when "Alice"
                  p Howdy Alice!
                default
                  p Hello \#{name}!
            textarea.size1.json.
              {"name": "Bob"}
          .span6.right
            textarea.size9.html(readonly=true)

      section#mixin
        .page-header
          h2 mixin
        .row
          .span6
            textarea.size6.jade.
              mixin book(name, price)
                li \#{name} for \#{price} &euro;

              ul#books
                +book("Book A", 12.99)
                +book("Book B", 5.99)
          .span6.right
            textarea.size6.html(readonly=true)
        hr
        .row
          .span6
            textarea.size6.jade.
              mixin book(name, price)
                div(attributes)= name

              +book("Book A")#first
              +book("Book B")(title="book b")
              +book("Book C").last
          .span6.right
            textarea.size6.html(readonly=true)

    footer#about
      p
        | by <strong>naltatis</strong>&nbsp;
      p
        | follow me on&nbsp;
        a(href="https://github.com/naltatis", title="naltatis on github") github
        |  and&nbsp;
        a(href="https://twitter.com/naltatis", title="naltatis on twitter") twitter
      p
        a.FlattrButton(rev="flattr;button:compact", href="https://github.com/naltatis/jade-syntax-docs", lang="de", title="interactive Jade Syntax Documentation")

    script
      (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
      })();

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33399084-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
